.gradle
.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
gradle.properties
gradle/wrapper
gradlew
gradlew.bat
.idea/
app/app.iml
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/local.properties
app/build/
rgs-mka.iml
